.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  /* parameters for the header section */
}

.header__logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo {
  height: 31px;
  width: 154px;
}

.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

/* come back to this
.header__subtitle {
  position: absolute;
  width: 388px;
  margin-bottom: 30px;
  margin-left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
*/
.header__link {
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  top: 64px;
  width: 756px;
  height: 608px;
  right: 0;
}


/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  right: 0;
  top: 30px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.content {
}

.description {
}

.two-columns {

}

.two-columns__brief {
  line-height: 12px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
