.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  /* parameters for the header section */
}

.header__logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo {
  height: 31px;
  width: 154px;
}

.header__title {
  max-width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  width: 756px;
  right: 0;
  z-index: 1;
}


/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  justify-content: left;
  align-items: flex-end;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 0;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap;
}

.description {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
}

.two-columns {
display: flex;
justify-content: space-between;
 margin: 0;
 padding: 0;
}

.two-columns__brief {
  min-width: 175px;
  margin-bottom: auto;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 784px;
}


.two-columns__paragraph {
  margin-bottom: 30px;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}


.digits {
  margin-bottom: 100px;
}

.section-title {
  top: 100px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin-top: 20px;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  margin-left: auto;
  margin-right: auto;
  bottom: 100px;
  width: 1100px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
 width: 250px;
 padding: 0;
 margin-bottom: 60px;
 flex-direction: column;
 flex-wrap: wrap;
}

.table__heading {
  margin-bottom: 20px;
  width: 250px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  width: 250px;
  justify-content: space-around;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
background-color: #f2f2f2;
position: relative;
}

.feynman__title {
  text-align: center;
  justify-content: center;
}

/* unsure how to move this element */
.feynman__subtitle {
  text-align: center;
  justify-content: center;
}

.feynman__link {

}

.feynman-image {
 }


.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-bottom: 10px;
  background-color: black;
  color: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

.section-subtitle_theme_dark {
  position: relative;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 80px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.table_theme_dark {
  display: flex;
  width: 1100px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
  width: 250px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  width: 200px;
  justify-content: space-around;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  max-height: 660px;
  max-width: 636px;
  right: -124px;
  top: 0;
}


.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: black;
  color: #f2f2f2;
}

.footer__columns {
  display: flex;
  justify-content: space-around;
}

.footer__author {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 711px;
}

.footer__column_content_about {
  display: flex;
  flex-direction: column;
  width: 90%;
  list-style: none;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.logo_place_footer {
  top: 30px;
  left: 64px;
  height: 31px;
  width: 154px;
  filter: invert(1);
  bottom: 30px;
}

.footer__column_content_copyright {
  position: relative;
  margin-bottom: 18px;
  margin-top: 18px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
  list-style: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}

.footer__column_content_social {
  width: 256px;
  padding-left: 10px;
  margin-left: auto;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  text-align: left;
  padding-left: 10px;
}


