.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  /* parameters for the header section */
}

.header__logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 31px;
  width: 154px;
}


.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.header__subtitle {
  margin: 0 0 0 64px;
  position: absolute;
  bottom: 30px;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  width: 756px;
  right: 0;
  z-index: 1;
}


/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  justify-content: left;
  align-items: flex-end;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

.description {
  margin: 100px 0 100px 0;
}

.two-columns {
display: flex;
justify-content: space-between;
 margin: auto;
 padding: 0;
 width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 784px;
  flex-direction: column;
  width: 80%;
}


.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}


.digits {
  margin: 0;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin-top: 20px;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  margin: 0 auto 0;
  width: 1100px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
 width: 250px;
 padding: 0;
 margin-bottom: 60px;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  min-height: 790px;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.feynman__title {
  position: relative;
  text-align: center;
  width: 775px;
  margin: 0 auto 0;
  top: 100px;
  padding: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 3;

}

/* unsure how to move this element */
.feynman__subtitle {
  text-align: center;
  position: relative;
  margin: 100px auto 0;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;

}

.feynman__link {
  position: absolute;
  bottom: 0;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  height: 637px;
  width: 867px;
  z-index: 2;
 }


.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1F1F1F;
  color: #f2f2f2;
  position: relative;
  overflow: hidden;
}


/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 0;
  padding: 0;
}

.section-title_theme_dark {
  margin: 0;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

.section-subtitle_theme_dark {
  position: relative;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 80px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.table_theme_dark {
  display: flex;
  width: 1100px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
  width: 250px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  width: 200px;
  justify-content: space-around;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  max-height: 660px;
  max-width: 636px;
  right: -124px;
  top: 0;
}


.footer {
  color: #f2f2f2;
  background-color: #1F1F1F;
  min-height: 350px;
  margin: 0 0 0 0;
}

.footer__columns {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0 0 0;
}

.footer__column_content_copyright {
  margin-top: 60px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  flex-basis: 711px;
}

.footer__logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  padding: 18px 0;
  margin-bottom: 40px;
}


.footer__column_content_about {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_social {
  margin-top: 70px;
  list-style: none;
}

.footer__social-icons {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 10px;
}


